<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="suite">
  <test name="test">
  <parameter name="browser" value="Chrome"></parameter>
  <classes>
  <class name="PHPTRAVELS.LoginPHPSite">
 <!--  <methods>
     <include name="URL" /> 
        <include name="Login" />
       <include name="Hotel" /> 
        
      </methods> -->
  </class>
 
  </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
